.cnco-expansion-panel {
  box-shadow: none;
  max-width: 1168px;
  min-width: 968px;
  width: 95%;
}

.result-container {
  margin-top: 42px;
  margin-bottom: 35px;
}

.mt-accordian {
  margin-top: 14px;
}

.cnco-expansion-panel {
  border: 1px solid rgba(109, 114, 120, 0.2);
  border-radius: 6px;

  .mat-expansion-panel-header {
    align-items: flex-start;
    padding: 24px 0px 10px;
    &.no-border {
      border-bottom: none;
    }
  }
}

.normal {
  font-family: Source Sans Pro !important;
  font-style: normal;
}

.vessel-lbl {
  color: #3a66a7;
  font-size: 20px;
  font-weight: 600;
  padding-left: 8px;
}

.util-lbl {
  color: #3a66a7;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.teu-lbl {
  font-weight: normal;
  font-size: 15px;
  padding-left: 10px;
  color: #3a66a7;
}

.result-container ::ng-deep.mat-expansion-indicator::after {
  color: #3a66a7;
  border-width: 0 3px 3px 0 !important;
  margin-right: 9px;
  margin-left: 9px;
}

.port-lbl {
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.date-lbl {
  font-weight: normal;
  font-size: 16px;
  color: #808080;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.spc-lbl {
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

.block {
  width: 11px;
  height: 11px;
  background-color: gray;
}

.section-1 {
  width: 211px;
  margin-left: 26px;
}

.section-3 {
  margin-left: 32px;
  border-left: solid 1px rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
}

.row-block {
  display: flex;
  align-items: center;
}

.f-normal-b-16 {
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.f-600-b-18 {
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.f-normal-b-18 {
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

.expand-view {
  width: 100%;
  border-top: 1px solid rgba(109, 114, 120, 0.2);
  display: flex;
  flex-direction: column;
}

.load-more {
  margin-top: 72px;
  justify-content: center;
  align-items: center;
  span {
    font-family: Source Sans Pro !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
  }

  button {
    width: 83px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Source Sans Pro !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #ffffff;
    color: #1e4f98;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}


.tsave-btn-view {
  width: 100%;
  height: 70px;
  border-top: 1px solid rgba(109, 114, 120, 0.2);
 .save-container {
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
 }
}

.default-lbl {
  font-family: Source Sans Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.save-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 39px;
  background: #1e4f98;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #879EC0;
}
