<mat-form-field class="wrap-sort-filter port-filter" style="width: 143px;">
  <mat-select-trigger>
    <div class="route-btn all-port-btn">
      <span
        class="btn-label"
        *ngIf="selectedServices.length === 0; else selected"
        >{{ selectDisplayString }}</span
      >
    </div>
    <ng-template #selected>
      <span class="btn-label">{{ selectedDisplayString }}</span>
    </ng-template></mat-select-trigger
  >
  <mat-select
    #serviceFilter
    [ngModel]="selectedServices"
    disableOptionCentering="true"
  >
    <div style="padding-top: 20px;">
      <mat-option
        (click)="selectService('', true); serviceFilter.open()"
        class="sort-by-static-text"
      >
        <div class="sortby-label">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selectService('', true)"
            [checked]="isChecked()"
          ></mat-checkbox>
          <!-- change above-->
          <span class="checkbox-label label-bold">{{ allSelectedString }}</span>
        </div>
      </mat-option>
      <div class="line"></div>
    </div>
    <ng-template ngFor [ngForOf]="values | keyvalue" let-keyvalue>
      <mat-option (click)="serviceFilter.open()" class="sort-by-static-text">
        <div class="sortby-label">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selectGroup(keyvalue.key, true)"
            [checked]="isChecked(keyvalue.key)"
          ></mat-checkbox>
          <!--serviceName,serviceCode -->
          <span class="checkbox-label bold">All &nbsp;{{ keyvalue.key }}</span>
        </div>
      </mat-option>
      <mat-option
        (click)="selectService(p[key], true); serviceFilter.open()"
        [value]="p[key]"
        class="sort-by-static-text"
        *ngFor="let p of keyvalue.value"
      >
        <div class="sortby-label">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selectService(p[key], true)"
            [checked]="selectedServices.indexOf(p[key]) > -1"
          ></mat-checkbox>
          <!--serviceName,serviceCode -->
          <span
            *ngIf="p[displayName].indexOf('Feeder') === -1"
            class="checkbox-label"
            >{{ p[displayName] | titlecase }}</span
          >
          <span
            *ngIf="p[displayName].indexOf('Feeder') > -1"
            class="checkbox-label"
            >{{ p[displayName] }}</span
          >
        </div>
      </mat-option>
      <div class="line"></div>
    </ng-template>
  </mat-select>
</mat-form-field>
