@import './../../../common/utilities/variables';

.capacity-status {
  width: 155px;
  height: 24px;
}

.capacity-status-small {
  width: 36px;
  height: 10px;
}

.text {
  color: $normalTextColor;
  text-align: center;
  display: block;
}

.vertical-align-middle {
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
}

.no-info {
  height: 3px;
  width: 11px;
}
