.f-icon {
  width: 24px;
  height: 16px;
  object-fit: contain;
  padding-right: 8px;
  margin-left: -24px;
  top: 12px;
  position: relative;
}
.mt-select {
  position: relative;
  bottom: 6px;
  left: 4px;
}
.dropdown-option {
  margin-left: 32px;
  margin-top: 24px;
}
.lbl-bold {
  font-size: 16px;
  font-weight: bold;
  color: #2e3047;
}
