.data-repository {
  height: 100%;
  width: 100%;
}
.selectable-rectanlge {
  width: 540px;
  height: 139px;
  padding: 16px 40px 24px 8px;
  // border: solid 1px #ff00a4;
}
.bold {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 19px;
}
.last-updated {
  opacity: 0.5;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e3047;
  height: 15px;
  margin: 8px 0 0 0;
}
.icon {
  width: 60px;
  height: 60px;

  object-fit: contain;
}
