/*Global Variables */

/*FONT Variables */

$globalFont: Lato, 'Helvetica Neue', sans-serif;

/*Color Variables */

$highlightColor: #0091ff;
$errorMessageColor: #f0403d;
$errorInputBdrColor: #e02020;
$headerColor: #353752;
$normalTextColor: #2e3047;

$buttonDarkBg: $normalTextColor;
$buttonLightBg: rgba($buttonDarkBg, 0.3);

$inputLabelColor: #6d7278;
$tableHeaderColor: $inputLabelColor;

$inputBorderColor: rgba($inputLabelColor, 0.2);

$TRT: #ff8c00;
$NATS: #0000ff;
$PIS: #7cfc00;
$PAC: #ff00ff;
$PNG: #00dccf;

$APA: #2e8b57;
$CHA: #ff0000;
$ESEA: #dc3398;
$ETS: #ffd700;
$GSX: #808000;

$NAX: #800000;
$NGS: #87cefa;
$NZAP: #1e90ff;
$NZPI: #00008b;
$PLY: #c92c2c;
$PNA: #ba55d3;
$NWD: #404b69;

$feeder: #b0b2b5;
