<!--<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css"
  type="text/css"
  rel="stylesheet"
/>-->
<app-pre-loader></app-pre-loader>

<app-left-nav (togglePanel)="openRightPanel($event)" [isOpen]="isOpen">
  <router-outlet>
    <app-right-nav
      position="start"
      [isOpen]="isOpen"
      (closeRightPanel)="closeRightPanel($event)"
      [count]="count"
    >
    </app-right-nav>
  </router-outlet>
</app-left-nav>
