<div class="flex-col main-div">
  <div class="title margin-bottom-24 h-row">
    HOUR
    <div class="pointer" (click)="closePopup()">
      <img
        alt
        src="./../../../../assets/icons/close/close.png"
        class="close-icon"
      />
    </div>
  </div>
  <div class="flex col2 hour-view margin-left-14">
    <div
      *ngFor="let i of [].constructor(24); let ii = index"
      (click)="hour = ii; emit()"
      [ngClass]="{ 'selected-cell': ii === hour }"
      class="pointer"
    >
      {{ ('00' + ii).slice(-2) }}
    </div>
  </div>

  <div class="title margin-bottom-24 margin-top-24">MINUTE</div>
  <div class="flex col3">
    <div
      *ngFor="let i of [].constructor(4); let ii = index"
      (click)="minutes = ii * 15; emit()"
      [ngClass]="{ 'selected-cell': ii * 15 === minutes }"
      class="pointer"
    >
      {{ ('00' + ii * 15).slice(-2) }}
    </div>
  </div>

  <!-- item 1 of the row -->
  <!-- <div class="flex col1">
    <div></div>
    <div>
      AM
    </div>
    <div></div>
    <div>
      PM
    </div>
    <div></div>
  </div> -->

  <!-- item 2 of the row -->
  <!-- <div class="flex col2">
    <div
      style="
        width: 200px;
        background-color: white;
        color: #6d7278;
        font-weight: bold;
      "
    >
      Hours
    </div>
    <div
      *ngFor="let i of [].constructor(24); let ii = index"
      (click)="hour = ii; emit()"
      [ngClass]="{ 'selected-cell': ii === hour }"
      class="pointer"
    >
      {{ ('00' + ii).slice(-2) }}
    </div>
  </div> -->
  <!-- item 3 of the row -->
  <!-- <div class="flex col3">
    <div style="background-color: white; color: #6d7278; font-weight: bold;">
      Min
    </div>
    <div
      *ngFor="let i of [].constructor(4); let ii = index"
      (click)="minutes = ii * 15; emit()"
      [ngClass]="{ 'selected-cell': ii * 15 === minutes }"
      class="pointer"
    >
      {{ ('00' + ii * 15).slice(-2) }}
    </div>
  </div> -->
</div>
